---
title: Scott Mueller's Homepage
layout: base.liquid
styles:
  - index.css
---
<section id="info">
	<img src="/images/profile.png"/>
	<ul id="contact">
		<li><em class="special">Scott</em> <em class="special">A</em>llen <em class="special">M</em>ueller</li>
		<li><a class="link" href="mailto:scott@cs.ucla.edu">scott@cs.ucla.edu</a></li>
		<li>PhD candidate</li>
		<li>Computer Science dept</li>
		<li><a class="link" href="https://www.ucla.edu/">UCLA</a></li>
	</ul>
	<ul id="social_media">
		<li><a class="link" href="https://scholar.google.com/citations?user=Aj-8swEAAAAJ">Google Scholar</a></li>
		<li><a class="link" href="https://x.com/smueller">X/Twitter</a></li>
		<li><a class="link" href="https://www.linkedin.com/in/scottamueller">LinkedIn</a></li>
		<li><a class="link" href="https://github.com/samueller">GitHub</a></li>
	</ul>
</section>
<section id="about">
	<h5>About Me</h5>
	<p>I'm a perpetual student of Causality and AI. After a career as a tech entrepreneur, I returned to academia to pursue a PhD with the aim of contributing to the development of <a class="link" href="https://en.wikipedia.org/wiki/Artificial_general_intelligence">AGI</a>. My journey took a pivotal turn when I read <a class="link" href="https://www.hachettebookgroup.com/titles/judea-pearl/the-book-of-why/9781541698963/">The Book of Why</a> by <a class="link" href="https://judea.com">Judea Pearl</a>, which <em>caused</em> an obsession with causal inference. I was extraordinarily fortunate to have Dr. Pearl become my PhD advisor, and my admiration and respect for this living legend continue to grow unbounded.</p>
	<p>My research focuses on personalized decision making with counterfactual reasoning. We are born with innate cause and effect instincts, experimenting with the world causally even as infants. However, we seldom develop counterfactual reasoning skills, which can severely impact our decision-making abilities. I believe that incorporating this capability into machine learning algorithms will allow us to achieve superhuman-level reasoning.</p>
	<p>Previously, I founded <a class="link" href="https://ucode.com">UCode</a>, an initiative to teach computer science to kids and teenagers. After seven years of improving my understanding of teaching advanced concepts to young students, I sought to comprehend intelligence at a fundamental level. I believe that causality is essential to intelligence, reasoning, decision-making, and ultimately, the realization of AGI.</p>
</section>
<section id="papers">
	<h5>Papers</h5>
	<ol>
		{% for paper in papers %}
		<li>
			<p class="date">{{paper.date}}</p>
			<h6><a class="link" href="{{paper.url}}">{{paper.title}}</a></h6>
			{% if paper.publication %}
			{% if paper.publication.url %}
			<a class="title link" href="{{paper.publication.url}}">{{paper.publication.name}}</a>
			{% else %}
			<p class="title">{{paper.publication.name}}</p>
			{% endif %}
			{% endif %}
			<p class="abstract preview">{{paper.abstract}}</p>
		</li>
		{% endfor %}
	</ol>
</section>
<section><h6>Rest of page coming soon</h6><hr></section>
<section id="teaching">
	<h5>Teaching</h5>
</section>
<section id="talks">
	<h5>Talks/Interviews</h5>
</section>
<section id="cv">
	<h5>CV</h5>
</section>
