---
title: Scott Mueller's Homepage
layout: base.liquid
styles:
  - index.css
---
<section id="info">
	<img src="/images/profile_optimized.png"/>
	<ul id="contact">
		<li><em class="special">Scott</em> <em class="special">A</em>llen <em class="special">M</em>ueller</li>
		<li><a class="link" href="mailto:scott@cs.ucla.edu">scott@cs.ucla.edu</a></li>
		<li>PhD candidate</li>
		<li>Computer Science dept</li>
		<li><a class="link" href="https://www.ucla.edu/">UCLA</a></li>
	</ul>
	<ul id="social_media">
		<li><a class="link" href="https://scholar.google.com/citations?user=Aj-8swEAAAAJ">Google Scholar</a></li>
		<li><a class="link" href="https://x.com/smueller">X/Twitter</a></li>
		<li><a class="link" href="https://www.linkedin.com/in/scottamueller">LinkedIn</a></li>
		<li><a class="link" href="https://github.com/samueller">GitHub</a></li>
	</ul>
</section>
<section id="about">
	<h5>About Me</h5>
	<p>I'm a perpetual student of Causality and AI. After a career as a tech entrepreneur, I returned to academia to pursue a PhD with the aim of contributing to the development of <a class="link" href="https://en.wikipedia.org/wiki/Artificial_general_intelligence">AGI</a>. My journey took a pivotal turn when I read <a class="link" href="https://www.hachettebookgroup.com/titles/judea-pearl/the-book-of-why/9781541698963/">The Book of Why</a> by <a class="link" href="https://judea.com">Judea Pearl</a>, which <em>caused</em> an obsession with causal inference. I was extraordinarily fortunate to have Dr. Pearl become my PhD advisor, and my admiration and respect for this living legend continue to grow unbounded.</p>
	<p>My research focuses on personalized decision making with counterfactual reasoning. We are born with innate cause and effect instincts, experimenting with the world causally even as infants. However, we seldom develop counterfactual reasoning skills, which can severely impact our decision-making abilities. I believe that incorporating this capability into machine learning algorithms will allow us to achieve superhuman-level reasoning.</p>
	<p>Previously, I founded <a class="link" href="https://ucode.com">UCode</a>, an initiative to teach computer science to kids and teenagers. After seven years of improving my understanding of teaching advanced concepts to young students, I sought to comprehend intelligence at a fundamental level. I believe that causality is essential to intelligence, reasoning, decision-making, and ultimately, the realization of AGI.</p>
</section>
<section id="papers">
	<h5>Papers</h5>
	<ol>
		{% for paper in papers %}
		<li>
			<p class="date">{{paper.date}}</p>
			<h6><a class="link" href="{{paper.url}}">{{paper.title}}</a></h6>
			{% if paper.publication %}
			{% if paper.publication.url %}
			<a class="title link" href="{{paper.publication.url}}">{{paper.publication.name}}</a>
			{% else %}
			<p class="title">{{paper.publication.name}}</p>
			{% endif %}
			{% endif %}
			{% if paper.conference %}
			<p><span class="title">Presented at</span>: <a class="link" href="{{paper.conference.url}}">{{paper.conference.name}}</a></p>
			{% endif %}
			{% if paper.subtitle %}
			<p class="subtitle">{{paper.subtitle}}</p>
			{% endif %}
			<p class="abstract preview">{{paper.abstract}}</p>
			<p>
				{% for author in paper.authors %}
				{% if author.url %}
				<a class="title link" href="{{author.url}}">{{author.name}}</a>{% else %}
				<span class="title">{{author.name}}</span>{% endif %}{% unless forloop.last %}, {% endunless %}
				{% endfor %}
			</p>
			{% if paper.supplemental %}
			<p><a class="link" href="{{paper.supplemental}}">Supplemental</a></p>
			{% endif %}
			{% if paper.addendum %}
			<p><span class="title">Addendum</span>: <a class="link" href="{{paper.addendum.url}}">{{paper.addendum.title}}</a></p>
			{% endif %}
			{% if paper.revisions %}
			<p><span class="title">Revision{% if paper.revisions.size > 1 %}s{% endif %}</span>:
			{% if paper.revisions.size == 1 %}
			<a class="link" href="{{paper.revisions[0].url}}">{{paper.revisions[0].date}}</a>
			{% elsif paper.revisions.size > 1 %}
			<ol>
				{% for revision in paper.revisions %}
				<li><a class="link" href="{{revision.url}}">{{revision.date}}</a></li>
				{% endfor %}
			</ol>
			{% endif %}
			{% endif %}
		</li>
		{% endfor %}
	</ol>
</section>
<section id="teaching" class="listing">
	<h5>Teaching</h5>
	<ol>
		{% for teaching in teachings %}
		<li><a class="link" href="{{teaching.url}}">{{teaching.title}}</a><ul>
			<li>{{teaching.position}}</li>
			<li>{{teaching.institution}} {{teaching.course}}</li>
			<li>{{teaching.head_teacher}}</li>
			<li>{{teaching.type}}</li>
		</ul></li>
		{% endfor %}
	</ol>
</section>
<section id="articles" class="listing">
	<h5>Articles</h5>
	<ol>
		{% for article in articles %}
		<li><a class="link" href="{{article.url}}">{{article.title}}</a> ({{article.date}})</li>
		{% endfor %}
	</ol>
</section>
<section id="talks" class="listing">
	<h5>Talks/Interviews</h5>
	<ul>
		<li><a class="link" href="https://youtu.be/zTJFUaLjxfE?si=6siRXKaDhtbeEK99">Causal AI & Individual Treatment Effects</a> (episode 20 of <a class="link" href="https://causalbanditspodcast.com/">Causal Bandits Podcast</a>)</li>
	</ul>
</section>
<section id="labs" class="listing">
	<h5>Labs</h5>
	<ul>
		<li><a class="link" href="https://www.practicallycausal.com/">Practical Causal Inference (PCI) Lab</a><ul>
			<li>Web Developer and Co-Manager</li>
			<li>Directors: <a class="link" href="https://www.chadhazlett.com/">Chad Hazlett</a> and <a class="link" href="https://ph.ucla.edu/about/faculty-staff-directory/onyebuchi-arah">Onyebuchi Arah</a></li>
		</ul></li>
		<li><a class="link" href="https://bayes.cs.ucla.edu/">Cognitive Systems Laboratory</a><ul>
			<li>Graduate Student Researcher</li>
			<li>Director: <a class="link" href="https://bayes.cs.ucla.edu/jp_home.html">Judea Pearl</a></li>
		</ul></li>
	</ul>
</section>
<section id="cv">
	<h5>CV</h5>
	<p><a class="link" href="/resume.pdf">PDF</a> or go to <a class="link" href="https://www.linkedin.com/in/scottamueller">my LinkedIn profile</a></p>
</section>
